.deps/
.libs/
Makefile
Makefile.in

*.bak
*.la
*.lo
*.log
*.o
*.sum
*.tar.gz

/README
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/configure~
/doc/api/
/libtool
/m4/*.m4
/stage/
/stamp-h1
/testsuite/site.exp
/testsuite/lib/dertree/dertree

!/m4/doxygen.m4

